* {
	border: none;
	border-radius: 10;
    font-family: "0xProto Nerd Font";
	font-size: 12px;
	min-height: 10px;
}

window#waybar {
	padding-top: 10px;
	background-color: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	transition: none;
    color: transparent;
	background: transparent;
}

#battery.charging, #battery.plugged {
	
}

#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;

	color: white;
	background-color: rgba(41, 42, 52, 0.8);
	border: 2px solid rgb(69, 71, 87);
	border-radius: 10px;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;

	color: white;
	background-color: rgba(41, 42, 52, 0.8);
	border: 2px solid rgb(69, 71, 87);
	border-radius: 10px;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;

	color: white;
	background-color: rgba(41, 42, 52, 0.8);
	border: 2px solid rgb(69, 71, 87);
	border-radius: 10px;
}

#battery.charging, #battery.plugged {
	color: white;
	background-color: rgba(41, 42, 52, 0.8);
	border: 2px solid rgb(69, 71, 87);
	border-radius: 10px;
}

#battery.critical:not(.charging) {
    color: #f7a6a6;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

	background-color: rgba(41, 42, 52, 0.8);
	border: 2px solid rgb(69, 71, 87);
	border-radius: 10px;
}

@keyframes blink {
    to {
        color: #ffffff;
    }
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;

	color: white;
	background-color: rgba(41, 42, 52, 0.8);
	border: 2px solid rgb(69, 71, 87);
	border-radius: 10px;
}

#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;

	color: white;
	background-color: rgba(41, 42, 52, 0.8);
	border: 2px solid rgb(69, 71, 87);
	border-radius: 10px;
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	transition: none;

	color: white;
	background-color: rgba(41, 42, 52, 0.8);
	border: 2px solid rgb(69, 71, 87);
	border-radius: 10px;
}

#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	transition: none;

	color: white;
	background-color: rgba(41, 42, 52, 0.8);
	border: 2px solid rgb(69, 71, 87);
	border-radius: 10px;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	transition: none;

	color: white;
	background-color: rgba(41, 42, 52, 0.8);
	border: 2px solid rgb(69, 71, 87);
	border-radius: 10px;
}

#user {
	font-size: 14px;
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	transition: none;

	color: white;
	background-color: rgba(41, 42, 52, 0.8);
	border: 2px solid rgb(69, 71, 87);
	border-radius: 10px;
}

#bluetooth {
	font-size: 14px;
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	transition: none;

	color: white;
	background-color: rgba(41, 42, 52, 0.8);
	border: 2px solid rgb(69, 71, 87);
	border-radius: 10px;
}

#custom-power {
	font-size: 20px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 15px;
	margin-bottom: 0px;
	transition: none;

	color: white;
	background-color: rgba(41, 42, 52, 0.8);
	border: 2px solid rgb(69, 71, 87);
	border-radius: 10px;
}

#custom-media {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;

	color: white;
	background-color: rgba(41, 42, 52, 0.8);
	border: 2px solid rgb(69, 71, 87);
	border-radius: 10px;
}

#custom-notifications {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 15px;
	margin-bottom: 0px;
	transition: none;

	color: white;
	background-color: rgba(41, 42, 52, 0.8);
	border: 2px solid rgb(69, 71, 87);
	border-radius: 10px;
}